/* General rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Common parts */
/* Button */
.general_button{
    border-radius: 25px;
    padding: 8px 12px;
}

.general_button:hover{
    outline: 1px solid black;
    outline-offset: -4px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

/* Debug generici */
/* main [class*="col"]{
    background-color: rgb(143, 143, 240);
    border: 2px black solid;
} */

/* Header */
header{
    margin-bottom: 130px;
    color: black;
}

#dark_header{
    background-color: #000000;
}

header .general_button{
    background-color: #363636;
}

header #search_lens{
    width: 25px;

}

/* Jumbotron Returnal*/
.jumbotron_returnal{
    width: 100%;
    height: 675px;
    background-color: #050505;
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    color: white;
    margin-bottom: 20px;
}

.jumbotron_returnal .general_button{
    background-color: #cd3d0f;
}

.jumbotron_returnal img{
    max-width: 60%;
}

.jumbotron_returnal h1{
    margin: 30px 0;
}

.jumbotron_returnal p{
    margin-bottom: 40px;
}

/* Sub Jumbo */
.sub_jumbo{
    margin-bottom: 20px;
}

.sub_jumbo img{
    width: 100%;
    border-radius: 15px;
}

#img_click:active{
    outline: 2px solid #0072ce;
    outline-offset: 2px;
}

/* PS5 Products */
main .ps5_products .big_product_img{
    width: 100%;
}

main .ps5_products .small_product_img{
    width: 50%;
    min-width: 120px;
    filter: opacity(0.7);
}

main .ps5_products .small_product_img:hover{
    filter: none;
}

main .ps5_products .general_button{
    background-color: #2d64e6;
}

.ps5_products .color_span{
    color: #117bd1;
}

.ps5_products .color_p{
    color: #727272;
}

.ps5_products #span_space{
    margin: 25px 0;
}

.ps5_products h6{
    text-align: center;
}

.ps5_products #product_select{
    border-bottom:#0072ce solid 2px;
}

.ps5_products #no_filter{
    filter: none;
}

/* Jumbo It takes two */
.jumbotron_ittakestwo{
    width: 100%;
    height: 956px;
    background-color: #050505;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    color: white;
    margin-top: 30px;
}

.jumbotron_ittakestwo .general_button{
    background-color: #cd3d0f;
}

.jumbotron_ittakestwo img{
    max-width: 60%;
}

.jumbotron_ittakestwo h1{
    margin: 30px 0;
}

.jumbotron_ittakestwo p{
    margin-bottom: 40px;
}

/* New games */
.new_games{
    margin-bottom: 20px;
    background-color: #1f1f1f;
}

.new_games img{
    width: 100%;
    border-radius: 15px;
}

.new_games{
    color: white;
}

/* Explore PS4 */
.explore_ps4 .color_p{
    color: #727272;
}

.explore_ps4 img{
    width: 100%;
}

.explore_ps4 .general_button{
    background-color: #2d64e6;
}

.explore_ps4 #reg_icon{
    font-size: 20px;
}

/* PlayStation Plus */
.bg_ps_plus{
    background-color: #bebcbb;
    margin: 50px 0;
}

.bg_ps_plus img{
    width: 100%;
}

.bg_ps_plus .general_button{
    background-color: #d9dadc;
    color: #2d64e6;
}

.bg_ps_plus #pplus_logo{
    width: 60%;
}

/* New Discounts */
.new_discounts .color_p{
    color: #727272;
}

.new_discounts img{
    width: 95%;
}

/* PlayStation Now */
.bg_ps_now{
    background-color: #161c3b;
    margin: 50px 0;
}

.bg_ps_now img{
    width: 100%;
}

.bg_ps_now .general_button{
    background-color: white;
    color: black;
}

.bg_ps_now #pnow_logo{
    width: 60%;
}

.bg_ps_now .color_p{
    color: white;
}